@left-width: 33%;

.boxPartner{
	position: relative;
	width: 100%-20em;
	height: 180px;
	margin: 1em 10em;
}
.leftContentPartner, .rightContentPartner{
	height: 100%;
}

.leftContentPartner{
	width: @left-width;
	background-color: red;
	float: left;
}
.rightContentPartner{
	background-color: #7ABC87;
	left: @left-width;
	width: 100% - @left-width;
	float: left;
	padding-left: 4em;
	padding-top: 0.5em;
}