@left-width: 40%;
@marginBorder : 22em;

#partner_wrapper{
	margin-bottom: 100px;
	background-color: #eeeeee;
}

.boxPartner{
	//position: relative;
	width: 100% - (@marginBorder * 2);
	height: 170px;
	margin: 2em @marginBorder 2em @marginBorder;
	box-shadow: -5px 5px 7px #999999;
	background-color: lighten(grey, 15%);
	border-radius: 0.3em;
}

.leftContentPartner, .rightContentPartner{
	height: 100%;
}

.leftContentPartner{
	width: @left-width + 5%;
	float: left;
	//background-color: #7ABC87;
}

.rightContentPartner{
	//background-color: #7ABC87;
	left: @left-width;
	width: 95% - @left-width;
	float: left;
	padding-left: 7.5%;
	padding-top: 0.5%;
}

.logoPartner{
	margin: 15% auto;
	display: block;
}

// ajustement du logo d'asl
.asl{
	position: relative;
	top: -15%;
}

#partnerH1{
	margin-top: 10%;
}

.fa, #partnerH1{
	color: black;
}

.fa:hover, .fa:active{
	color: #0061A1;
}