

.tweets_project, .tweets_assoc1{
	width: 100%;
	border: 2px solid;
	margin: 5px 0;
	padding: 0 10px;
	border-radius: 0.3em;
}

.red_border{
	border-color: #F59E6F;
	background-color: lighten(#F59E6F, 17%);
}

.green_border{
	border-color: #6BC281;
	background-color: lighten(#6BC281, 26%);
}

.blue_border{
	border-color: #91D6F0;
	background-color: lighten(#91D6F0, 13%);
}

.block_project, .block_assoc1{
	width: 33%;
	margin: 0 20px;
	padding-bottom: 80px;
}

.block_assoc1, .block_project, .tweets_assoc1, .tweets_project{
	float: left;
}

.tweet_link{
	color: black;
}
.tweet_link:hover, .tweet_link:active, .author_tweets:hover, .author_tweets:active{
	color: lighten(DarkBlue, 35%);
}