.feed_wrapper{
	margin: 0 15%;
}

.block_project, .block_assoc1{
	width: 45%;
	margin: 0 20px;
	padding-bottom: 85px;
}

.block_assoc1, .block_project, .tweets_assoc1, .tweets_project{
	float: left;
}

.question{
	padding-top: 20px;
	float: left;
}

.answers{
	font-size: 1.2em;
	font-style: italic;
}

.tweets_project, .tweets_assoc1{
	width: 100%;
	//border: 2px solid;
	margin: 5px 0;
	border-radius: 0.2em;
}

.tweets_project{
	padding:  10px;
}

.tweets_assoc1{
	padding: 0 10px 5px 10px;
}

.red_border{
	border-color: #F59E6F;
	background-color: lighten(#F59E6F, 17%);
}

.green_border{
	border-color: #6BC281;
	background-color: lighten(#6BC281, 26%);
}

.blue_border{
	//border-color: #91D6F0;
	background-color: lighten(#91D6F0, 13%);
}

.tweet_link{
	color: black;
}

.tweet_link:hover, .tweet_link:active, .author_tweets:hover, .author_tweets:active{
	color: lighten(DarkBlue, 35%);
}