<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">

	<div class="btn btn-primary btn-ranking" ng-repeat="tab in tabs" ng-click="showTab(tab.id)">{{tab.title}}</div>



	<!-- 1 : Tab score totaux -->
	<div class="tab-score-total" ng-show="activeTab == 1">

		<hr/>
		<h3>Scores totaux</h3>
		<!--<pre>Sorting predicate = {{predicate}}; reverse = {{reverse}}</pre>-->
		
		<table class="table table-striped">
			<tr>
				<th><a ng-click="predicate = 'position'; reverse=!reverse">Position</a></th>
				<th><a ng-click="predicate = 'pseudo'; reverse=!reverse">Joueurs</a></th>
				<th><a ng-click="predicate = 'scores[0].pts'; reverse=!reverse">Scores totaux</a></th>
				<th>Avatars</th>
			</tr>
		   	<tr ng-repeat="player in datas | orderBy:predicate:reverse">
		   		<td class="">0</td>
		       	<td class="">{{player.pseudo}}</td>
		       	<td class="">{{player.scores[0].pts}} pts</td>
		       	<td class=""><img ng-src="#"></td>
			</tr>
		</table>

	</div>

	<!-- 2 : Tab best scores cummulés -->
	<div class="tab-best-cumul" ng-show="activeTab == 2">
		
		<hr/>
		<h3>Best Scores : cumulés</h3>

		<table class="table table-striped">
			<tr>
				<th><a ng-click="predicate = 'position'; reverse=!reverse">Position</a></th>
				<th><a ng-click="predicate = 'pseudo'; reverse=!reverse">Joueurs</a></th>
				<th>Best scores cumulées</th>
				<th>Avatars</th>
			</tr>
		   	<tr ng-repeat="player in datas">
		   		<td class="">0</td>
		       	<td class="">{{player.pseudo}}</td>
		       	<td class="">{{player.scores[0].pts}} pts</td>
		       	<td class=""><img ng-src="#"></td>
			</tr>
		</table>

	</div>

	<!-- 3 : Tab best scores wash -->
	<div class="tab-best-wash" ng-show="activeTab == 3">
		
		<hr/>
		<h3>Best Scores : Wash</h3>

		<table class="table table-striped">
			<tr>
				<th><a ng-click="predicate = 'position'; reverse=!reverse">Position</a></th>
				<th><a ng-click="predicate = 'pseudo'; reverse=!reverse">Joueurs</a></th>
				<th>Wash</th>
				<th>Avatars</th>
			</tr>
		   	<tr ng-repeat="player in datas">
		   		<td class="">0</td>
		       	<td class="">{{player.pseudo}}</td>
		       	<td class="">{{player.scores[0].pts}} pts</td>
		       	<td class=""><img ng-src="#"></td>
			</tr>
		</table>

	</div>

	<!-- 4 : Tab best scores trash -->
	<div class="tab-best-trash" ng-show="activeTab == 4">
		
		<hr/>
		<h3>Best Scores : Trash</h3>
		
		<table class="table table-striped">
			<tr>
				<th><a ng-click="predicate = 'position'; reverse=!reverse">Position</a></th>
				<th><a ng-click="predicate = 'pseudo'; reverse=!reverse">Joueurs</a></th>
				<th>Trash</th>
				<th>Avatars</th>
			</tr>
		   	<tr ng-repeat="player in datas">
		   		<td class="">0</td>
		       	<td class="">{{player.pseudo}}</td>
		       	<td class="">{{player.scores[0].pts}} pts</td>
		       	<td class=""><img ng-src="#"></td>
			</tr>
		</table>

	</div>

	<!-- 5 : Tab best scores flash -->
	<div class="tab-best-flash" ng-show="activeTab == 5">

		<hr/>
		<h3>Best Scores : Flash</h3>
		
		<table class="table table-striped">
			<tr>
				<th><a ng-click="predicate = 'position'; reverse=!reverse">Position</a></th>
				<th><a ng-click="predicate = 'pseudo'; reverse=!reverse">Joueurs</a></th>
				<th>Flash</th>
				<th>Avatars</th>
			</tr>
		   	<tr ng-repeat="player in datas">
		   		<td class="">0</td>
		       	<td class="">{{player.pseudo}}</td>
		       	<td class="">{{player.scores[0].pts}} pts</td>
		       	<td class=""><img ng-src="#"></td>
			</tr>
		</table>

	</div>

</div>