<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">

	<div class="btn btn-primary btn-ranking" ng-repeat="tab in tabs" ng-click="showTab(tab.id)">{{tab.title}}</div>

		<hr/>
		<h3>Tableau des scores</h3>
		<!--<pre>Sorting predicate = {{predicate}}; reverse = {{reverse}}</pre>-->

		<table class="table table-striped">
			<tr>
				<th><a ng-click="predicate = 'position'; reverse=!reverse">Position</a></th>
				<th><a ng-click="predicate = 'pseudo'; reverse=!reverse">Joueurs</a></th>
				<th ng-show="activeTab == 1"><a ng-click="predicate = 'scores.scoreTot'; reverse=!reverse">Total</a></th>
				<th ng-show="activeTab == 2"><a ng-click="predicate = 'scores.totalHs'; reverse=!reverse">Cumul</a></th>
				<th ng-show="activeTab == 3"><a ng-click="predicate = 'scores.hsWash'; reverse=!reverse">Wash</a></th>
				<th ng-show="activeTab == 4"><a ng-click="predicate = 'scores.hsTrash'; reverse=!reverse">Trash</a></th>
				<th ng-show="activeTab == 5"><a ng-click="predicate = 'scores.hsFlash'; reverse=!reverse">Flash</a></th>
				<th>Avatars</th>
			</tr>
		   	<tr ng-repeat="player in datas | orderBy:predicate:reverse">
		   		<!-- position : juste one at time -->
		   		<td class="" ng-show="activeTab == 1">{{player.positions.scoreTot}}</td>
		   		<td class="" ng-show="activeTab == 2">{{player.positions.totalHs}}</td>
		   		<td class="" ng-show="activeTab == 3">{{player.positions.hsWash}}</td>
		   		<td class="" ng-show="activeTab == 4">{{player.positions.hsTrash}}</td>
		   		<td class="" ng-show="activeTab == 5">{{player.positions.hsFlash}}</td>

		       	<td class="">{{player.pseudo}}</td>
		       	<td class="" ng-show="activeTab == 1">{{player.scores.scoreTot}} pts</td>
		       	<td class="" ng-show="activeTab == 2">{{player.scores.totalHs}} pts</td>
		       	<td class="" ng-show="activeTab == 3">{{player.scores.hsWash}} pts</td>
		       	<td class="" ng-show="activeTab == 4">{{player.scores.hsTrash}} pts</td>
		       	<td class="" ng-show="activeTab == 5">{{player.scores.hsFlash}} pts</td>
		       	<td class=""><img ng-src="#"></td>
			</tr>
		</table>
</div>