<div ng-include="'components/navbar/navbar.html'"></div>
<div class="logo">
	<img src="assets/images/logo.png" alt="">
</div>

<div class="goutte">
	<img src="assets/images/goutte.png" alt="">
</div>
<!-- <div class="container" ng-repeat= "video in videos">
  <div class="video">
    <button type="button" ng-click="openVideoModal(video)">Regarder : {{video.title}}</button>
  </div>

</div> -->

<div class="container videos">
	<div class="video video1"></div>
	<div class="video video2"></div>
	<div class="video video3"></div>
</div>