<div class="ngdialog-message">
	<h4>[Question]</h4>
	<p>{{feedback}}</p>
	<form name="myForm">
		<label>
		   Your answer : 
		   <input type="text" name="answer" ng-model="answer"
		   ng-minlength="3" ng-maxlength="10">
		</label>
		<div role="alert">
		  <span class="error" ng-show="myForm.answer.$error.maxlength">
		    Too long!</span>
		</div>
	</form>

</div>

<div class="ngdialog-buttons">
	<button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="submitForm(answer)">Envoyer</button>
	<button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="closeSecond()">Fermer</button>
</div>