<div class="ngdialog-message">
	<h4 class="videoh4">{{ngDialogData.question}}</h4>

	<form name="myForm">
		<label>
		   <input id="inputTweet" type="text" name="answer" class="ngdialog-content" ng-model="answer"
		   maxlength="120" ng-minlength="1" placeholder="votre réponse">
		</label>
		 <span class="form-help">
		 	{{120-answer.length}} charactères restants
		 </span>
		<div role="alert">
		  <span class="error" ng-bind ="feedback"></span>
		  <span class="error" ng-show="myForm.answer.$error.maxlength">Limite de caractères atteinte !</span>
		  <span class="error" ng-show="myForm.answer.$error.minlength">1 charactères minimum !</span>
		</div>
	</form>
</div>

<div id="btnCtn" class="ngdialog-buttons">
	<button type="button" id="modalBtn1" class="ngdialog-button ngdialog-button-primary" ng-click="close()">Fermer</button>
	<button type="submit" id="modalBtn" class="ngdialog-button ngdialog-button-secondary" ng-click="submitForm(answer, ngDialogData)" ng-disabled="myForm.$invalid || myForm.$pristine">Envoyer</button>
</div>