<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
	<h1>photowall</h1>
	<p>Like or dislike your friends !</p>

	<div deckgrid class="deckgrid" source="photos" ng-repeat="photo in datas">
	    <div class="img-box">
	        <img class="img-wall img-rounded" data-ng-src="{{photo.imgUrl}}">
	        <aside class="content-over">
	        	<!-- bouton dislike -->
	        	<div type="button" ng-click="likePlayer(photo)" class="btn btn-primary btn-as-badge">
	        		<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
	        	</div>
	        	<!-- bouton dislike -->
	        	<div type="button" ng-click="dislikePlayer(photo)" class="btn btn-primary btn-as-badge">
	        		<span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
	        	</div>

	        	<!-- compteur de like -->
	        	<p class="p-cpt label label-primary label-as-badge">{{photo.like}} likes</p>
	        </aside>
	    </div>
	</div>
</div>