.img-box{
	display: block;
	float: left;
	margin: 5px;
}

.content-over{
	position: relative;
	bottom: 35px;
	left: 20px;
	color: white;
}

.img-wall, .img-box{
	width: 200px;
	height: 200px;

	/* unused */
	min-width: 100px;
	max-width: 250px;
	min-height: 100px;
	max-height: 250px;
}

.label-as-badge {
    border-radius: 1em;
}