<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
	<!-- <h1>photowall</h1>
	<p>Like or dislike your friends !</p> -->

	<div deckgrid class="deckgrid" source="photos" ng-repeat="photo in datas | toArray | orderBy:'-like' ">
	    <div class="img-box">
	        <img class="img-wall" ng-src="{{photo.imgUrl}}"/>
	        <div class="content-over">
	        	<!-- bouton dislike -->
	        	<div  type="button" ng-show="getItem(photo._id) == null"
	        	ng-click="likePlayer(photo)" class="like button">
	        		<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
	        	</div>
	        	<!-- bouton dislike -->
	        	<div type="button" ng-show="getItem(photo._id) == null"
	        	ng-click="dislikePlayer(photo)" class="dislike button">
	        		<span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
	        	</div>

	        	<!-- compteur de like -->
	        	<!-- <p class="p-cpt likes label label-primary label-as-badge" ng-show="photo.like >= 2"> {{photo.like}} likes</p>
	        	<p class="p-cpt likes label label-primary label-as-badge" ng-show="photo.like == 0 || photo.like == 1">{{photo.like}} like</p>
	        	<p class="p-cpt likes label label-primary label-as-badge" ng-show="photo.like == -1">{{photo.like}} dislike</p>
	        	<p class="p-cpt likes label label-primary label-as-badge" ng-show="photo.like <= -2">{{photo.like}} dislikes</p> -->
	        </div>
	        <div class="likesContainer">
	        	<p class="likes" ng-show="photo.like >= 2"> {{photo.like}} likes</p>
	        	<p class="likes" ng-show="photo.like == 0 || photo.like == 1">{{photo.like}} like</p>
	        	<p class="likes" ng-show="photo.like == -1">{{photo.like}} dislike</p>
	        	<p class="likes" ng-show="photo.like <= -2">{{photo.like}} dislikes</p>
	        </div>
	    </div>
	</div>

	<p>{{error}}</p>
</div>